In [ ]:
import pandas as pd

In [49]:
df1= pd.read_csv('./dados/dados_animais.csv')
df2 = pd.read_csv('./dados/dados_animais_alteracoes.csv')

# Fazendo a junção com base na coluna 'id'
df_merged = pd.merge(df1, df2, on='Animal', how='inner')  # how pode ser 'inner', 'outer', 'left', 'right'
df_merged[['alteracao','tem_leishmaniose']]

                          alteracao  tem_leishmaniose
0                         blefarite                 1
1                   edema de córnea                 1
2                 neovascularização                 1
3                          catarata                 1
4    vasos episclerais ingurgitados                 1
..                              ...               ...
105                         hipópio                 0
106                 edema de córnea                 0
107              secreção purulenta                 0
108  vasos episclerais ingurgitados                 0
109                   descemetocele                 0

[110 rows x 2 columns]

In [42]:
df_l = df[df['tem_leishmaniose'] == 1]
df_l[['Animal','DIAGNÓSTICO', 'LOCALIZAÇÃO']]
len(df['DIAGNÓSTICO'].unique())

13

In [ ]:
df[['TLS OD','TLS OE','Teste de fluorosceína','PIO OE','PIO OD']]

In [ ]:
df.groupby('tem_leishmaniose_texto').count()