In [3]:
import pandas as pd

In [4]:
df1= pd.read_csv('./dados/dados_animais.csv')
df2 = pd.read_csv('./dados/dados_animais_alteracoes.csv')

# Fazendo a junção com base na coluna 'id'
df_merged = pd.merge(df1, df2, on='Animal', how='inner')  # how pode ser 'inner', 'outer', 'left', 'right'
df_merged[['alteracao','tem_leishmaniose']]

                          alteracao  tem_leishmaniose
0                         blefarite                 1
1                   edema de córnea                 1
2                 neovascularização                 1
3                          catarata                 1
4    vasos episclerais ingurgitados                 1
..                              ...               ...
105                         hipópio                 0
106                 edema de córnea                 0
107          secreção mucopurulenta                 0
108  vasos episclerais ingurgitados                 0
109                   descemetocele                 0

[110 rows x 2 columns]

In [10]:
df_sl = df1[df1['tem_leishmaniose'] == 0]
print(len(df_sl))
print(len(df_sl[df_sl['LOCALIZAÇÃO'] == 'BILATERAL'])*2)
len(df_sl[df_sl['LOCALIZAÇÃO'] == 'UNILATERAL'])

17
10

12

In [54]:

from scipy.stats import kendalltau

correlacoes = []
coluns = df_merged.columns
for colum in coluns:
    for colum_2 in coluns:
        campo_1 = df_merged[colum]
        campo_2 = df_merged[colum_2]
        if colum != colum_2:
            corr, p_value = kendalltau(campo_1, campo_2)
            correlacoes.append({"coluna_1": colum, "coluna_2": colum_2, "correlcao":corr, "p_valor": p_value})
df_corr = pd.DataFrame(correlacoes)

In [56]:
df_corr[df_corr['coluna_1'] == 'DIAGNÓSTICO']

        coluna_1                        coluna_2  correlcao       p_valor
160  DIAGNÓSTICO                    Unnamed: 0_x   0.138477  4.632702e-02
161  DIAGNÓSTICO                          Animal   0.138477  4.632702e-02
162  DIAGNÓSTICO  Alterações oculares observadas   0.078105  2.617830e-01
163  DIAGNÓSTICO                          TLS OD   0.359946  5.895245e-07
164  DIAGNÓSTICO                          TLS OE   0.406397  1.517678e-08
165  DIAGNÓSTICO           Teste de fluorosceína   0.572590  7.392124e-12
166  DIAGNÓSTICO                          PIO OE  -0.123008  8.549172e-02
167  DIAGNÓSTICO                          PIO OD   0.124088  8.430670e-02
168  DIAGNÓSTICO                            RAÇA  -0.196536  6.323550e-03
169  DIAGNÓSTICO                           IDADE  -0.235556  1.012946e-03
170  DIAGNÓSTICO                     LOCALIZAÇÃO   0.445904  9.589741e-08
171  DIAGNÓSTICO                tem leishmaniose  -0.275970  9.619816e-04
172  DIAGNÓSTICO                tem_leishmaniose  -0.275970  9.619816e-04
173  DIAGNÓSTICO                            Nome   0.056868  4.133856e-01
174  DIAGNÓSTICO                    Unnamed: 0_y   0.136698  4.648157e-02
175  DIAGNÓSTICO                       alteracao   0.063659  3.762195e-01

In [55]:
df_corr[df_corr['coluna_1'] == 'alteracao']

      coluna_1                        coluna_2  correlcao   p_valor
256  alteracao                    Unnamed: 0_x   0.117819  0.085345
257  alteracao                          Animal   0.117819  0.085345
258  alteracao  Alterações oculares observadas  -0.065636  0.338509
259  alteracao                          TLS OD   0.057705  0.416392
260  alteracao                          TLS OE   0.023668  0.737977
261  alteracao           Teste de fluorosceína   0.020192  0.806298
262  alteracao                          PIO OE  -0.000742  0.991604
263  alteracao                          PIO OD  -0.037348  0.597958
264  alteracao                            RAÇA  -0.063195  0.372863
265  alteracao                           IDADE   0.034583  0.624286
266  alteracao                     DIAGNÓSTICO   0.063659  0.376220
267  alteracao                     LOCALIZAÇÃO   0.088257  0.283834
268  alteracao                tem leishmaniose  -0.144706  0.078877
269  alteracao                tem_leishmaniose  -0.144706  0.078877
270  alteracao                            Nome   0.007344  0.914626
271  alteracao                    Unnamed: 0_y   0.118957  0.078673